@using Microsoft.AspNetCore.Identity
@using ProjectPriorityControl.Data
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <li class="nav-item dropdown d-xl-inline-block">
        <a class="nav-link dropdown-toggle" id="UserDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
            <span class="profile-text">Hello, @User.Identity.Name !</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right navbar-dropdown" aria-labelledby="UserDropdown">
            <a class="dropdown-item mt-2" href="~/Identity/Account/Manage/">
                Manage Accounts
            </a>
            <a class="dropdown-item" href="~/Identity/Account/Manage/ChangePassword">
                Change Password
            </a>
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="~/Identity/Account/Login">
                <button type="submit" class="dropdown-item">
                    Sign Out
                </button>
            </form>
        </div>
    </li>
}
else
{
    <li class="nav-item dropdown d-none d-xl-inline-block">
        <a class="nav-link " id="UserDropdown" href="#">
            <span class="profile-text">Hello, Guest !</span>
        </a>
    </li>
}
