@model ProjectPriorityControl.ViewModels.ChangeProjectViewModel
<form asp-action="_ChangeProject" asp-controller="Project" method="post">
    <div class="form-group row">
        <label class="col-sm-3 col-form-label">Project</label>
        <div class="col-sm-9">
            <select asp-for="ProjectId" asp-items="ViewBag.Projects" class="form-control">
                <option value="0">Select One</option>
            </select>
        </div>
    </div>
    <button type="submit" class="btn btn-primary">Choose</button>
</form>
