@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Change password";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="change-password-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.OldPassword"></label>
                <input asp-for="Input.OldPassword" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Input.NewPassword"></label>
                <input asp-for="Input.NewPassword" id="password" class="form-control" required />
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" data-parsley-equalto="#password" class="form-control" required />
            </div>
            <button type="submit" class="btn btn-primary">Update password</button>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/lib/parsley/dist/parsley.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#change-password-form').parsley({
                successClass: "is-valid",
                errorClass: "is-invalid",
                errorsWrapper: "<div class='invalid-feedback'></div>",
                errorTemplate: "<div></div>"
            });
        });
    </script>
}