@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <a href="~/Identity/Account/" class="btn btn-secondary btn-fw">Back</a>
            <hr />
            <h4 class="card-title">Create a new account</h4>
            <form asp-route-returnUrl="@Model.ReturnUrl" id="register-form" method="post">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <p class="card-description">
                            Account info
                        </p>
                    </div>
                    <div class="col-md-6">
                        <p class="card-description">
                            Personal info
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Username" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.Username" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Name" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.Name" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Email" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.Email" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Gender" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="Input.Gender" class="form-control">
                                    <option>Male</option>
                                    <option>Female</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Password" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.Password" id="password" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Address" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.Address" class="form-control" required="" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.ConfirmPassword" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <input asp-for="Input.ConfirmPassword" data-parsley-equalto="#password" class="form-control" required="" />
                            </div>
                        </div>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label asp-for="Input.Role" class="col-sm-3 col-form-label"></label>
                            <div class="col-sm-9">
                                <select asp-for="Input.Role" asp-items="Model.Roles" class="form-control"></select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                    </div>
                </div>
                <button type="submit" class="btn btn-primary">Register</button>
                <button type="reset" class="btn btn-warning">Reset</button>
            </form>
        </div>
    </div>
</div>




@section Scripts {
    <script src="~/lib/parsley/dist/parsley.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#register-form').parsley({
                successClass: "is-valid",
                errorClass: "is-invalid",
                errorsWrapper: "<div class='invalid-feedback'></div>",
                errorTemplate: "<div></div>"
            });
        });
    </script>
}
