@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <a href="~/Identity/Account/Edit?id=@Model.Input.Id" class="btn btn-secondary btn-fw">Back</a>
            <hr />
            <h4 class="card-title">Reset an account's password</h4>
            <form id="reset-form" method="post">
                <div class="row">
                    <div asp-validation-summary="All" class="text-danger"></div>
                </div>
                <input asp-for="Input.Id" type="hidden" />
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input value="@Model.Input.Username" disabled class="form-control" />
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" id="password" class="form-control" required />
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" data-parsley-equalto="#password" class="form-control" required />
                </div>
                <button type="submit" class="btn btn-primary">Reset</button>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/lib/parsley/dist/parsley.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#reset-form').parsley({
                successClass: "is-valid",
                errorClass: "is-invalid",
                errorsWrapper: "<div class='invalid-feedback'></div>",
                errorTemplate: "<div></div>"
            });
        });
    </script>
}

